<div class="contact">
  <h1>Certifications</h1>
  <p><a href="https://truf.us/Credly?utm_source=website&utm_medium=website&utm_id=michael" target="_blank" rel="noopener noreferrer"><img src="\assets\images\exam-409-server-virtualization-with-windows-server-hyper-v-and-system-center.png" alt="Exam 409: Server Virtualization with Windows Server Hyper-V and System Center" style="width:250px; padding-top:15px;"></a></p>
  <p><a href="https://truf.us/5tui9?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank" rel="noopener noreferrer"><img src="/assets/images/introduction-to-network-routing-20250610.jpg" alt="Introduction to Network Routing" style="width:250px;"></a></p>
  <p><a href="https://truf.us/kuD8h?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank" rel="noopener noreferrer"><img src="/assets/images/learning-virtualization-20250612.jpg" alt="Learning Virtualization" style="width:250px;"></a></p>
  <p><img src="/assets/images/130FieryTypist.svg" alt="Fiery Typist - 130 WPM in 5 Seconds" style="width:250px;"></p>
</div>
