<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- Canonical Link -->
<link rel="canonical" href="https://michaelr.xyz"/>

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}">

<!-- LinkedIn Javascript -->
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

<!-- end custom head snippets -->
