<div class="contact">
  <h1>Projects</h1>
  <h2>TRUF.us</h2>
    <p><a href="https://truf.us/?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank" rel="noopener noreferrer">TRUF URL Shortner</a></p>
  <h2>MICHAEL.ONG</h2>
    <p><a href="https://truf.us/mong?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank" rel="noopener noreferrer">Non-Profit Startup</a></p>
  <h2>ZiryTech</h2>
    <p><a href="https://truf.us/ziry?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank" rel="noopener noreferrer">Technology Consultants</a></p>
  <h2>The Chisme Cafe</h2>
    <p><a href="https://truf.us/chisme?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank" rel="noopener noreferrer">Restaurant Concept</a></p>
</div>
