<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {{ site.description }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    {% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}?utm_source=website&utm_medium=website&utm_id=michael">
          <h1>{{ site.title }}</h1>
        </a>
        <h2>{{ site.description }}</h2>
      </div>
    </header>
    <div id="content-wrapper">
      <div class="inner clearfix">
         <aside id="sidebar">
          {% include contact-section.html %}
        </aside>
        <section id="main-content">
          {{ content }}
        </section>
        <aside id="sidebar">
          {% include projects-section.html %}
          {% include certifications-section.html %}
        </aside>
      </div>
    </div>
    {% include salesiq.html %}
  </body>
</html>
