<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {{ site.description }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    {% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}?utm_source=website&utm_medium=website&utm_id=michael">
          <h1>{{ site.title }}</h1>
        </a>
        <h2>{{ site.description }}</h2>
      </div>
    </header>
    <div id="content-wrapper">
      <div class="inner clearfix">
         <aside id="sidebar">
          <div class="contact">
            <h1>Contact</h1>
            <h2>Email</h2>
              <p><a href="https://truf.us/mail?utm_source=website&utm_medium=website&utm_id=michael">michael@michaelr.xyz</a></p>
            <h2>Phone</h2>
              <p><a href="https://truf.us/phone?utm_source=website&utm_medium=website&utm_id=michael">+1.206.486.6453</a></p>
            <h2>LinkedIn</h2>
              <a class="badge-base__link LI-simple-link" href="https://truf.us/LinkedIn?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank">Michael Ryan</a>
              <div class="badge-base LI-profile-badge" style="padding-top: 15px; padding-bottom: 10px;" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="michael-ryan-xyz" data-version="v1"></div>
          </div>
        </aside>
        <section id="main-content">
          {{ content }}
        </section>
        <aside id="sidebar">
          <div class="contact">
            <h1>Projects</h1>
              <h2>TRUF.us</h2>
              <p><a href="https://truf.us/?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank">TRUF URL Shortner</a></p>
              <h2>MICHAEL.ONG</h2>
              <p><a href="https://truf.us/mong?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank">Non-Profit Startup</a></p>
              <h2>ZiryTech</h2>
              <p><a href="https://truf.us/ziry?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank">Technology Consultants</a></p>
            <h1>Certifications</h1>
              <p><a href="https://truf.us/Credly?utm_source=website&utm_medium=website&utm_id=michael" target="_blank"><img src="\assets\images\exam-409-server-virtualization-with-windows-server-hyper-v-and-system-center.png" alt="Exam 409: Server Virtualization with Windows Server Hyper-V and System Center" style="width:250px; padding-top:15px;"></a></p>
              <p><a href="https://truf.us/5tui9?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank"><img src="/assets/images/introduction-to-network-routing-20250610.jpg" alt="Introduction to Network Routing" style="width:250px;"></a></p>
              <p><a href="https://truf.us/kuD8h?utm_source=michaelr-xyz&utm_medium=website&utm_id=michael" target="_blank"><img src="/assets/images/learning-virtualization-20250612.jpg" alt="Learning Virtualization" style="width:250px;"></a></p>
              <p><img src="/assets/images/130FieryTypist.svg" alt="Fiery Typist - 130 WPM in 5 Seconds" style="width:250px;"></p>
          </div>
        </aside>
      </div>
    </div>
  </body>
</html>
